.movie-list{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    justify-content: center;
}
.movie-card{
    width: 30%;
    margin: 10px;
    height: 400px;
    padding: 20px;
    border: 10px solid white;
}
movie-img{
    width: 80%;
    height: 400px;
    padding: 20px;
}