*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}
.navbar{
    display: flex;
    background-color: aqua;
    font-size: 20px;
    justify-content: space-between;
    padding: 10px 20px;
    justify-content: center;
}
.MenuBar{
    display: flex;
    align-items: center;
    gap: 15px; 
}
.menu-items{
    border: 3px solid green;
    background-color: blueviolet;
    font-size: 18px;
    color: white;
    padding: 8px 15px;
    border-radius: 12px;
}
a{
    text-decoration: none;
}
