*{
    margin: 0px;
    padding: 0px;
}
table 
{
    background-color:aqua ;
    border-width: 10px;
    border-style: groove;
    width: 100%;
    border-color: crimson;
    border-radius: 12px;
}
#heading{
    background-color: burlywood;
    font-size: 60px;
    text-align: center;
    color: brown;
}
#row1{
    background-color: red;
    text-align: center;
}
#row2{
    background-color: green;
    text-align: center;
}